<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ניהול מערכת</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="/css/Management/index.css">
</head>
<body>
  <header>
    <h1>ברוך הבא לניהול המערכת</h1>
    <a href="/logout" class="logout-button">יציאה</a>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="/Management/add-course">הוסף קורס</a></li>
        <li><a href="/Management/add-Teacher">הוסף מורה</a></li>
        <li><a href="/Management/student">הוסף תלמיד</a></li>
        <li><a href="/Management/add-class">הוסף כיתה</a></li>
        <li><a href="/Management/Education_date">ניהול לוח זמנים</a></li>
        <li><a href="/Management/register-student-course">רישום תלמיד לקורס</a></li> <!-- לחצן חדש -->

      </ul>
    </nav>
  </main>
</body>
</html>
