<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>studint Welcome</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet"  href="/public/css/stayle.css">
    <script src='main.js'></script>
</head>
<body>
<header>
    <a href="#" class="logo">logo</a>
    <nav class="nav">
        <a href="#">loguot</a>
        <a href="#">homork</a>
        <a href="#">infromation</a>
    </nav>
</header>
</body>
</html>