body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
  background-color: #ff9800;
  color: white;
  padding: 1em;
  text-align: center;
  width: 100%;
}
main {
  padding: 2em;
  width: 100%;
  max-width: 95vw;
  text-align: center;
}
form {
  background-color: #ffe0b2;
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
input {
  width: calc(100% - 2em);
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
}
button {
  background-color: #ff9800;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #fb8c00;
  box-shadow: 0 0 10px #ff9800, 0 0 20px #ff9800, 0 0 30px #ff9800;
}
